body{
    display: flex;
    flex-direction: column;

}

table{
    padding: 0;
    margin: 0;
    border-collapse: collapse;

    background-image: url(img/woodd1.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 502px
}

h1{
    margin: 10px;
    font-size: 25px;

}
td,th,tr{
    border-collapse: collapse;
    /* border: 3px solid transparent; */
}
.possible-move{
    box-sizing: border-box;
    outline: 3.1px solid rgb(2, 128, 2, 0.7);
}
.game-table{
    align-self: center;
}
.game{
    width: 54px;
    height: 50px;
    border: 1px solid black;
}
.grey{
    background-color: rgb(88, 88, 88);
    background-image: url(img/blackw.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}
.firstTr{
   
    rotate: 180deg;
    align-items: center;
    text-align: center;
    height: 40px;
}
.lastTr{

    height: 40px;
    align-items: center;
    text-align: center;
}
.firstTd{
    width: 25px;
    align-items: center;
    text-align: center;

}
.lastTd{

    text-align: center;
    rotate: 180deg;
    width: 25px;
}
.figureB{
    width: 40px;
    height: 40px;
    margin: 0 6px 0 6px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(img/blackF.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}
.figureW{
    width: 40px;
    height: 40px;
    margin: 0 6px 0 6px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid black;
    background-image: url(img/whiteF.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    

}

.figureW:focus{
    border: 2.5px solid rgb(255, 0, 0, 0.5);
    box-sizing: border-box;
}
.figureB:focus{
    border: 2.5px solid rgb(255, 0, 0);
    box-sizing: border-box;
}
.can-move{
    border: 3px solid rgb(1, 13, 255, 0.5);
    box-sizing: border-box;

}
.queen{
    position: relative;
}
.queen::before{
    /* content: "";
     background-image: url(img/crown.png);
     width: 50px;
     height: 50px;
     background-origin: border-box;
     background-repeat: no-repeat;
     background-size: contain;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 30px;
     */
}
.figureW.queen{
    color: black;
    background-image: url(img/whiteQueen.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}
.figureB.queen{
    color: rgb(255, 255, 255);
    background-image: url(img/blackQueen.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}
.red{
    color: red;
}
.button{
    margin-top: 20px;
    width: 100px;
}
.button:active{
    background-color: green;
}
